.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-wrapper {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(248, 248, 248);
width: auto;
max-width: 601px;
}

.recent-activity-title {
  width: 100%;
  max-width:601px;
  height: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 163, 165);
  border-bottom: .1px solid grey;
}

.recent-activity {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.recent-activity-items {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 20px 5px;
}
