.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  width: 60%;
  /* max-width: 601px; */
}

.recent-activity-title {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  width: 100%;
  /* max-width:601px; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 57, 94);
  color: whitesmoke;
  border-bottom: .1px solid grey;
}

.recent-activity {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recent-activity-items {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 20px 20px;

}
