#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(179, 172, 172, 0.7);
}

#modal-content {
  position: absolute;
  background-color:  rgb(34, 87, 122);
  box-shadow: 2px 5px 8px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}
