#navbar {
  position: absolute;
  width: 150px;
  height:300px;
  transform: translateX(-150px);
  transition: transform 400ms ease-in;
  background-color: white;
  border: .01px solid grey;
  margin-top: 8px;
  margin-left: 2px;
  box-shadow: 2px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(238, 245, 238);
}
#navbar.slideIn {
  transform: translateX(0);
}
#navbar.slideOut {
  transform: translateX(-160px);
}
