.wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; */
}

.all-expenses-container {
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
background-color: rgb(248, 248, 248);
width: auto;
max-width: 601px;
box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
margin-bottom: 10%;
}

.expenses-title {
  display: flex;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 32px;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(4, 57, 94);
  border-bottom: .1px solid grey;
  width: 100%;
  max-width: 601px;
  height: 80px;
  color: whitesmoke;
}

.expense-detail {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.expense-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-sizing: border-box;
  padding: 5px;
  align-items: center;
}

.expense-details:hover {
  background-color: rgb(202, 199, 199);
  cursor: pointer;
}

.expense-details-inner {
  display: flex;
  width: 600px;
  justify-content: space-between;

}

.date-title-container {
display: flex;
width:250px;
}

.date {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 35px;
  margin-left: 5px;
}

.month {
  text-align: center;
}

.day  {
text-align: center;
}

.expense-title {
  box-sizing: border-box;
  margin-left: 40px;
  font-weight: bold;
  font-size: large;
  align-self: center;
  min-width: 200px;
  width: 100%;
}

.expenses-container {
  display: flex;
  width: 350px;
}

.expense-paid-by-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.expense-paid-by {
  font-size: 12px;
}

.expense-total {}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.user-info {
  text-align: center;
  font-size: 12px;
}

.amount-owe {
  color: red
}

.amount-owed {
  color: green
}

.paid-by-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





/* DETAIL CONTAINER STYLING */

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  width: auto;
  max-width: 601px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.detail-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 600px;
}

.detail-title {
  padding: 3px;
  font-size:20px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.detail-amount {
  padding: 2px;
  font-size: 30px;
}

.createdby {
  font-size: 12px;
  padding: 2px;
}

.below-title-container {
  display: flex;
  justify-content: space-between;
}

.detail-users-container {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 14px;
  width: 300px;
}

.detail-users {}

.detail-comments-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.detail-comments-container textarea {
  font-family: 'Karla', sans-serif;
  background-color: rgb(250, 250, 250);
  width: 250px;
  height:50px;
  border-radius: 5px;
  border-color: grey
}

/* COMMENTS STYLING */
.comment-wrapper {
  padding: 5px;
}

.comment-content {
  background-color: white;
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.comment-user {
font-size: 12px;
}
