/* TODO Add site wide styles */
body {
  background-color: rgb(245, 250, 245);
  margin: 0;
  margin-bottom: 65px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: rgb(26, 50, 85);
}

html {
  height: 100%;
}

#root {
  position: relative;
  height: 100vh;
}
