.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* .sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 400px;
  max-width: 100%;
  height: 600px;
  max-height: 100%
} */

/* .loginErrors-li {
  height: auto;
} */

.signupErrors-ul {
  height: 50px;
  width: 200px;
  max-width: 100%;
  font-size: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: whitesmoke; */
  width: 400px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  border-radius: 50px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  width: 300px;
  height: 600px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 100px;
  border-radius: 25px;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, .2);
  margin-bottom: 60px;
}

.signupErrors-div, .signupErrors-ul {
  width: 280px;
  color: red;
  margin-right: 35px;
  font-size: 12px;
  text-align: center;
}


.signupErrors-div {
  padding: 2px;
}


.signup-usernamefields, .passwordfields, .emailfields, .confirm-passwordfields{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  font-weight: bold;
  font-size: 15px;
}

#username, #password, #confirm-password, #email, .signup-button {
  width: 225px;
  max-width: 100%;
  border: .01px solid grey;
  font-size: 15px;
}

#username, #password, #confirm-password, #email {
  padding: 5px 0;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 2px;
}

#username:focus, #password:focus, #confirm-password:focus, #email:focus {
  outline: none;
  outline: 1px solid gray;
}

.signup-button {
  border-radius: 0px;
  font-family: 'Roboto Mono', monospace;
  padding: 12px 0;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 3px;
}

.signup-button:hover {
  background-color: rgb(206, 205, 205);
  cursor: pointer;
}
