.main-nav-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(92, 164, 169);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  top: 0;
  height: 100%;
  align-items: center;
  z-index: 99;
}

.nav-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  height: 65px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  justify-self: center;
}

.logo {
  height: 60px;
  width: 200px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.home-link {
  align-self: center;
  width: 100px;
}

.session-links {
  justify-self: end;
  width: 110px;
  margin-right: 30px;
}

.active {
  text-decoration: none;
}

.profile-link {
  position: relative;
  height: 30px;
  border-radius: 50px;
  width: 30px;
  align-self: center;
  margin-right: 80px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  min-width: 200px;
  max-width: 980px;
  align-self: center;
  height: 40px;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-right: 80px;
}

.profile-dropdown {
  min-width: 150px;
  position: absolute;
  background-color: #ffffff;
  display: block;
  z-index: 8;
  border-radius: 10px;
  top: 23px;
  left: -90px;
  border: 1px solid grey;
  padding: 0px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.profile-dropdown div {
  padding: 2px;
}



.profile-dropdown button {
  border-radius: 5px;
  border: none;
}

.profile-dropdown button:hover {
  background-color: rgb(219, 208, 208);
  cursor: pointer;
}

.option-links {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  background-color: rgb(92, 164, 169);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
}

.option-links > .navlinks {
  padding: 2px 50px 2px 50px;
}

.option-links > .navlinks > a {
  text-decoration: none;
  color: black;
}

.option-links > .navlinks > a:hover {
  color: white;
  border-bottom: 1px solid white;
}
