.main-nav-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgb(87, 204, 153);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  top: 0;
  height: 50px;
  align-items: center;
}

.logo {
  height: 40px;
  width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.sidebar {
  width: 40px;
  height: 40px;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 20px;
  margin-left: 80px;
}

.sidebar:hover {
  background-color: rgb(21, 231, 161);
}


.home-link {
  align-self: center;
  width: 100px;
}

.active {
  text-decoration: none;
}

.profile-link {
  position: relative;
  height: 30px;
  border-radius: 50px;
  width: 30px;
  align-self: center;
  margin-right: 80px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  min-width: 200px;
  max-width: 980px;
  align-self: center;
  height: 40px;
}

.profile-dropdown {
  min-width: 150px;
  position: absolute;
  background-color: #ffffff;
  display: block;
  z-index: 8;
  border-radius: 10px;
  top: 23px;
  left: -90px;
}
