.main-nav-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 164, 169);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  top: 0;
  height: 50px;
  align-items: center;
}

.logo {
  height: 40px;
  width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.sidebar {
  width: 40px;
  height: 40px;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 20px;
  margin-left: 80px;
}

.sidebar:hover {
  background-color: rgb(30, 131, 138);
}

.sidebar:focus {
  outline: none;
}


.home-link {
  align-self: center;
  width: 100px;
}

.active {
  text-decoration: none;
}

.profile-link {
  position: relative;
  height: 30px;
  border-radius: 50px;
  width: 30px;
  align-self: center;
  margin-right: 80px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  min-width: 200px;
  max-width: 980px;
  align-self: center;
  height: 40px;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-right: 80px;
}

.profile-dropdown {
  min-width: 150px;
  position: absolute;
  background-color: #ffffff;
  display: block;
  z-index: 8;
  border-radius: 10px;
  top: 23px;
  left: -90px;
  border: 1px solid grey;
  padding: 0px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.profile-dropdown div {
  padding: 2px;
}



.profile-dropdown button {
  border-radius: 5px;
  border: none;
}

.profile-dropdown button:hover {
  background-color: rgb(219, 208, 208);
  cursor: pointer;
}
