.dashboard-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  position: relative;
  height: 100%;
}

.dashboard-container {
display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
background-color: rgb(248, 248, 248);
width: 60%;
/* max-width: 601px; */
box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
/* margin-bottom: 65px; */
/* margin-top: 50px; */
margin-bottom: 10%;

}

.title-container {
  width: 100%;
  /* max-width:601px; */
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: rgb(4, 57, 94);
  border-bottom: .1px solid grey;
  color: whitesmoke;
}

.dashboard-title {
  /* width: auto; */
  /* max-width: 150px; */
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
  margin-left: 15px;
  justify-self: center;
  align-self: center;
}

.button-container {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  justify-self: center;
  align-self: center;
}

.settle-up {
  margin-right: 15px;
  background-color: rgb(252, 136, 107)
}

.settle-up:hover,
.settle-up:focus {
    background:rgb(223, 93, 61)
}

.settle-up:focus {
  outline: 1px solid rgb(56, 163, 165);
  outline-offset: -4px;
}

.add-expense-button {
  background-color: rgb(213, 137, 111);
  padding: 15px 15px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(213, 137, 111);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transition: background 250ms ease-in-out,
                transform 150ms ease;
}

.add-expense-button:hover,
.add-expense-button:focus {
    background:rgb(226, 85, 49)
}

.add-expense-button:focus {
  outline: 1px solid rgb(56, 163, 165);
  outline-offset: -4px;
}

.balances-container {
box-sizing: border-box;
width: 100%;
display: flex;
justify-content: space-around;
border-bottom: .1px solid grey;
padding: 10px;
background-color: rgb(214, 214, 214)
}

.totals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

.totals {
 align-self: center;
}

.owe-or-owed-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  padding: 15px;
  border-bottom: 1px solid grey;
  font-size: 1.3em;
}

.positive {
color: green;
}

.negative {
color: red;
}

.positive, .negative {
  text-align: center;
  font-size: .9em;
}

.owe {
  padding: 5px;
  margin-left: 15px;
  font-weight: bold;
}



.owed {
  padding: 5px;
  margin-right: 15px;
  font-weight: bold;
}

.list-detail-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  /* min-height: 500px; */
}

.youareowed-main-container {
  /* display: flex; */
  /* flex-direction: column; */
}

.you-owe-main-container {
  width: 100%;
}

.youareowed-main-container {
  width: 100%;
}

.you-owe-container, .you-are-owed-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.2em;
  /* border-bottom: 1px solid grey; */
}

.you-owe, .you-are-owed {
  width: 70%;
}

.you-are-owed {
  align-self: flex-end;
  text-align: center;
}

.friend-view {
  align-self: start;
  position: absolute;
  left: 0px;
  /* top: 1%; */
}
