.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(248, 248, 248);
width: auto;
max-width: 601px;
box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.title-container {
  width: 100%;
  max-width:601px;
  height: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-bottom: .1px solid grey;
}

.dashboard-title {
  width: auto;;
  max-width: 150px;
  font-size: 32px;
  font-weight: bold;
  padding: 5px;
  margin-left: 15px;
}

.button-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.settle-up {
  margin-right: 15px;
}

.balances-container {
width: 600px;
display: flex;
justify-content: space-around;
border-bottom: .1px solid grey;
padding: 10px;
}

.totals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.totals {
 align-self: center;
}

.owe-or-owed-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 0 50px;
  padding: 15px;
}

.owe {
  margin-left: 15px;
}

.owed {
  margin-right: 15px;
}

.list-detail-container {
  width: 600px;
  display: flex;
  min-height: 500px;
}

.youareowed-main-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.you-owe-container, .you-are-owed-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
